.box{
    width: 500px;
    height: 100px;
    border: 5px;
    margin: 5px;    
    background-color:  #894a25;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8b3e;
}
body{
    background-color: #ff8b3e;
    color:#894a25;
}