.input-group2{
    width: 100%;
    height: 50px;
}

.form-control2{     
    padding-bottom: 7px;
    padding-top: 7px;
    text-indent: 20px;
    border:  1px solid #dedede;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80%;
}

.btn1{
    color:#6C757D; 
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid #6C757D;
    background-color: white;
    margin-left: -5px;
    width: 50px;
}

.btn2{   
    color:#6C757D; 
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid #6C757D;
    border-left: 0px;
    background-color: white;
    margin-left: -5px;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
